* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.celebrate {
  animation: celebrate 1s ease-in-out infinite;
}

@keyframes celebrate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game {
   
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
box-shadow: 0 0 1rem rgba(53, 43, 114, 0);
font-size: 8vmin;
color: red;
background-color: rgb(255, 255, 255);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: rgb(239, 239, 239);
    border-radius: 1rem;
    border:none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container {
    height: 40vmin;

}
.hide{
    display: none;
}
